html, body{
    height: 100%;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    font-size: 5vw;
    z-index: 1;
}


.title:hover{
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {font-size: 5vw;}
    50% {font-size: 4vw;}
    100% {font-size: 5vw;}
}

.board{
    background-color: cadetblue;
    border: 2px black solid;
    aspect-ratio: 1/1;
    width: 40%;
}

.boardRow{
    padding-right: 7.5%;
    padding-left: 0;
    width: 100%;
    max-width: 100%;
}

.endRow{
    flex-grow: 2;
    padding: 0;
}

.boardSpace{
    box-sizing: border-box;
    background-color: aquamarine;
    border: 1px solid black;
}

.boardSpace:hover{
    border: 1px solid white;
}

.shrink{
    flex-shrink: 1;
}

.centerSpace{
    opacity: 0;
}

.yellowProperty{
    background-color: yellow;
}

.redProperty{
    background-color: red;
}

.orangeProperty{
    background-color: orange;
}

.pinkProperty{
    background-color: pink;
}

.blueProperty{
    background-color: blue;
}

.brownProperty{
    background-color: brown;
}

.cyanProperty{
    background-color: cyan;
}

.limeProperty{
    background-color: lime;
}